body {
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 22px;
    color: #4F4F4F;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
}

header {
    background-blend-mode: multiply;
    background-image: url(../storage/img/header_footer_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(15, 95, 186, 0.4);
    height: 350px;
}

.logo {
    padding-top: 70px;
}

.logo a {
    color: #ffffff;
    font-size: 80px;
    text-decoration: none;
    text-transform: uppercase;
}

.logo span {
    padding: 0 10px;
}

.hand__logo {
    border-bottom: 4px solid #ffffff;
    width: 245px;
    display: block;
}

.made__logo {
    display: inline;
}

.yarmarka__logo {
    color: rgb(43, 52, 53);
    font-size: 35px;
    padding: 0;
    border: none;
    display: inline;
    font-weight: bold;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.reg__info__cart__block {
    padding-top: 70px;
}

.reg__info__cart__block a:hover {
    background: #B2CFD8;
    color: #ffffff;
}

.reg__auth__btn, .info__btn, .cart__btn, .lk__btn, .logout__btn {
    display: block;
    color: #4F4F4F;
    text-decoration: none;
    background: #ffffff;
    padding: 20px 35px;
    border-radius: 20px;
    border: 1px solid #4F4F4F;
    font-weight: bold;
    font-size: 20px;
}

.info__btn, .cart__btn, .logout__btn {
    font-size: 15px;
    padding: 20px 40px;
    text-align: center;
}


.info__btn {
    margin-right: 20px;
}

.personal__area__btn {
    text-align: center;
    font-size: 15px;
    color: #4F4F4F;
    text-decoration: none;
    background: #ffffff;
    width: 160px;
    font-weight: bold;
    border-radius: 20px;
    padding-top: 20px;
    border: 1px solid #4F4F4F;
}

a.cart__btn {
    padding: 20px 33px;
    width: 100px;
}


.logout__btn {
    width: 85px;
}

.info__cart__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.lk__logout {
    margin-top: 0;
}

.count__products__cart {
    color: #44899F;
}

aside {
    border-right: 1px solid #4F4F4F;
    border-left: 1px solid #4F4F4F;
    padding: 20px;
}

.form__select__cat select {
    outline: none;
    border: none;
    font-size: 30px;
    color: #4F4F4F;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 200px;
    cursor: pointer;
}

.form__select__cat {
    position: relative;
    border-bottom: 1px solid #4F4F4F;
    padding-bottom: 10px;
}

/*.form__select:before {*/
/*content: '';*/
/*display: block;*/
/*width: 5px;*/
/*height: 30px;*/
/*}*/

.form__select__cat:after {
    content: "►";
    color: #4F4F4F;
    position: absolute;
    display: inline-block;
    left: 67%;
    top: 10%;
}

.index {
    display: flex;
}

.price__text, .age__text {
    font-size: 20px;
    color: #4F4F4F;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}

.age__text {
    font-size: 25px;
}

.filter__price__block {
    border-bottom: 1px solid #4F4F4F;
    padding-bottom: 25px;
}

.filter__price__block input[type=number] {
    width: 90px;
    border-radius: 10px;
    border: 1px solid #4F4F4F;
    height: 30px;
    padding-left: 10px;
    outline: none;
    font-size: 20px;
}

.form__select__age select {
    outline: none;
    color: #4F4F4F;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 200px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #4F4F4F;
    border-radius: 10px;
}

.form__select__age {
    position: relative;
    border-bottom: 1px solid #4F4F4F;
    padding-bottom: 15px;
    width: 220px;
    margin: 0 auto;
}

.form__select__age:after {
    content: "|";
    width: 1px;
    height: 30px;
    font-size: 20px;
    color: #cccccc;
    position: absolute;
    left: 70%;
    top: 15%;
}

.form__select__age:before {
    content: "▼";
    font-size: 20px;
    color: #4F4F4F;
    position: absolute;
    left: 76%;
    top: 15%;
}

aside button, .reverse__filter {
    display: block;
    width: 220px;
    margin: 0 auto;
    background: #B2CED7;
    border: 1px solid #4F4F4F;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

.reverse__filter {
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    padding: 10px 0px;
}

aside button:hover, .reverse__filter:hover {
    background: #9BBCC9;
}

aside button:active, .reverse__filter:active {
    background: #87ADBC;
}

.filter__btns__block {
    margin-top: 15px;
}

.search__products__list {
    border-right: 1px solid #4F4F4F;
}

.search__form {
    margin: 0 auto;
    margin: 20px 50px;
}

.search__form input[type=text] {
    width: 920px;
    margin: 0 auto;
    height: 40px;
    font-size: 25px;
    padding-left: 20px;
    color: #4F4F4F;
    outline: none;
    border-radius: 10px;
    border: 1px solid #4F4F4F;
}

.search__form button {
    width: 40px;
    height: 40px;
    background: #B2CED7;
    border: 1px solid #4F4F4F;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

.search__form button i {
    font-size: 27px;
    color: #4F4F4F;
}

.search__form button:hover {
    background: #9BBCC9;
}

.search__form button:active {
    background: #87ADBC;
}

.new__title, .all__product__title {
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid #4F4F4F;
    margin: 0 50px;
    padding-bottom: 20px;
}

.all__product__title {
    border-top: 1px solid #4F4F4F;
    padding-top: 20px;
}

.product__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 80px 0 80px;
}

.product__card {
    width: 270px;
    height: 410px;
    border: 1px solid #4F4F4F;
    margin-bottom: 50px;
    border-radius: 10px;
}

.product__card:hover {
    background: #B2CED7;
}

.product__cards img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
}

.link__card {
    display: block;
    color: #000000;
    text-decoration: none;
}

.card__title, .price__card {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    display: block;
    width: 90%;
    padding: 0 10px;
    margin: 0 auto;
}

.price__card {
    font-weight: bold;
    margin-bottom: 30px;
}

.view__btn, .add__to__cart__btn, .msg__to__seller__btn {
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 0 auto;
    color: #000000;
    text-decoration: none;
    background: #B2CED7;
    border: 1px solid #4F4F4F;
    padding: 7px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.add__to__cart__btn {
    padding: 7px 35px;
    width: 86%;
    font-size: 15px;
}

button {
    font-family: 'Merriweather', serif;
}

.pagination__block {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.pagination__block a {
    text-decoration: none;
    color: #4F4F4F;
    background: #B2CED7;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid #4F4F4F;
    padding: 10px 15px;
}

.pagination__block a:hover {
    color: #ffffff;
}

.active, .disabled {
    color: #ffffff;
    padding: 5px 15px;
    background: #B2CED7;
    border-radius: 10px;
    border: 1px solid #4F4F4F;
}

.disabled {
    color: #4F4F4F;
}

.pagination__block ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination__block ul li {
    margin-right: 5px;
}

ul.pagination {
    padding: 0;
}

.first__page {
    margin-right: 5px;
}

a.first__page {
    height: 20px;
    margin-top: 20px;
}

a.last__page {
    height: 20px;
    margin-top: 18px;
}

footer {
    background-blend-mode: multiply;
    background-image: url(../storage/img/header_footer_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(15, 95, 186, 0.4);
    height: 350px;
    color: #ffffff;
    font-size: 26px;
}

footer p {
    margin: 0;
}

.contacts {
    padding-top: 50px;
    padding-bottom: 60px;
}

.the__rights {
    text-align: center;
}

main .login, main .register {
    display: block;
}

.login__header, .register__header {
    text-align: center;
    font-size: 40px;
    margin-top: 25px;
}

.login form, .register form {
    margin: 0 auto;
}

.login, .register {
    display: flex;
    justify-content: center;
}

.login__form__block, .register__form__block {
    text-align: center;
    margin-top: 50px;
}

.login__form__block input, .register__form__block input {
    height: 50px;
    width: 350px;
    font-size: 28px;
    margin-bottom: 20px;
}

.register__form__block input {
    height: 30px;
    font-size: 24px;
}

.login__form__block button, .register__form__block button {
    border: none;
    height: 35px;
    width: 200px;
    font-size: 24px;
    background: #B2CED7;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    border: 1px solid #4F4F4F;
}

.no__account {
    margin-bottom: 30px;
}

.no__account a {
    color: #4F4F4F;
}

.invalid-feedback {
    display: block;
    font-size: 14px;
    color: red;
}

.form__error {
    border: 1px solid red;
}

.personal__area__main__page {
    border-left: 1px solid #4F4F4F;
    border-right: 1px solid #4F4F4F;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.personal__area__buttons__block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 10px;
    border-bottom: 1px solid #4F4F4F;
}


.personal__area__buttons__block a {
    text-decoration: none;
    color: #4F4F4F;
    background: #B2CED7;
    border: 1px solid #4F4F4F;
    border-radius: 20px;
    padding: 10px 30px;
    width: 130px;
    text-align: center;
    font-size: 25px;
}

.personal__area__buttons__block a:active {
    color: #ffffff;
}

.personal__area__buttons__block a:hover {
    color: #ffffff;
}

.create__product__page {
    border-left: 1px solid #4F4F4F;
    border-right: 1px solid #4F4F4F;
    padding-left: 10px;
    padding-right: 10px;

}

.width__block {
    height: 140px;
}

#active {
    color: #ffffff;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.show__product {
    border-left: 1px solid #4F4F4F;
    border-right: 1px solid #4F4F4F;
    padding: 10px;
}

.navigation {
    display: flex;
    border-top: 1px solid #4F4F4F;
    border-bottom: 1px solid #4F4F4F;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.navigation a, span {
    margin-right: 15px;
}

.navigation a {
    text-decoration: none;
    color: #4F4F4F;
}

.navigation a:hover {
    text-decoration: underline;
}

.show__product {
    display: block;
}

.img__title {
    display: flex;
    margin-top: 30px;
    font-size: 40px;
    border-bottom: 1px solid #4F4F4F;
}

.second__images img {
    margin-bottom: 50px;
}

.product__img {
    width: 380px;
    margin-right: 20px;
}

.main__img {
    height: 320px;
}

.product__img img {
    border-radius: 20px;
    border: 1px solid #4F4F4F;
}

.product__title {
    border: 1px solid #4F4F4F;
    border-radius: 20px;
    text-align: center;
}

.product__title__btns {
    width: 70%;
    padding-bottom: 80px;
}

.product__title {
    padding: 20px 0;
}

.product__btns {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.modal-content {
    color: #4F4F4F;
}

.product__name__in__window {
    text-decoration: none;
    color: dodgerblue;
}

.product__name__in__window:hover {
    text-decoration: underline;
}

.basket__btn, .continue__shop__btn {
    text-decoration: none;
    color: #000;
    background: #B2CED7;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #4F4F4F;
    padding: 15px 20px;
    cursor: pointer;
}

.pr__name__w {
    margin-bottom: 30px;
    text-align: center;
}

.modal {
    border-radius: 20px;
}

.product__price {
    font-weight: bold;
}

.add__to__cart__btn__show {
    width: 300px;
    height: 100px;
    font-size: 25px;
}

.add__to__cart__btn__show:hover {
    color: #ffffff;
}

.msg__to__seller__btn:hover {
    color: #ffffff;
}

.msg__to__seller__btn {
    width: 300px;
    font-size: 25px;
    height: 100px;
    padding: 7px 35px;
    box-sizing: border-box;
}

a.msg__to__seller__btn {
    margin: 10px 0;
}

.info__products__block ul {
    list-style: none;
}

.info__products__block li {
    margin-bottom: 20px;
}

.info__span {
    font-weight: bold;
}

.info__products__block {
    margin: 0 5px;
    border-bottom: 1px solid #4F4F4F;
    margin-bottom: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
}

td img {
    width: 85px;
    height: 85px;
    border: 1px solid #4F4F4F;
    border-radius: 10px;
}

.basket {
    padding: 10px;
    border-right: 1px solid #4F4F4F;
    border-left: 1px solid #4F4F4F;
}

.name__prouct__basket {
    color: #4F4F4F;
}


.name__prouct__basket:hover {
    color: #4F4F4F;
}

.registration__order {
    display: block;
    margin-left: 1100px;
}

button {
    outline: 0;
}

.my__product i {
    color: #4F4F4F;
    font-size: 50px;
}

.register__order__btn {
    border: 1px solid #4F4F4F;
    background: #B2CED7;
    color: #4F4F4F;
    border-radius: 20px;
    cursor: pointer;
}

.basket td:not(:first-child) {
    padding-top: 35px;
    font-weight: bold;
}

td input {
    border-radius: 10px;
    border: 1px solid #4F4F4F;
    height: 40px;
}

.fa-trash-alt {
    color: #4F4F4F;
    font-size: 50px;
    padding-left: 20px;
}

.my__product {
    text-align: center;
}

.reg__to {
    font-size: 24px;
}

.reg__to a {
    color: #4F4F4F;
}

.basket__title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

th {
    width: 20%;
}

.quantity__items {
    margin: 0 auto;
    width: 60px;
    text-align: center;
}

.registration__order__title {
    text-align: center;
    font-size: 32px;
    margin-top: 50px;
}

.registration__order {
    text-align: center;
}

.registration__order label {
    display: block;
}

.sum {
    float: right;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #4F4F4F;
    border-bottom: 1px solid #4F4F4F;
    width: 100%;
    padding: 10px 30px;
}

.registration__order button {
    margin-top: 20px;
    width: 250px;
    height: 50px;
}

.create__product__page input, .create__product__page select, .create__product__page textarea {
    width: 550px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #4F4F4F;
    margin: 10px 0;
    font-size: 25px;
    color: #4F4F4F;
    outline: 0;
    padding-left: 5px;
}

.create__product__page textarea {
    width: 550px;
    height: 80px;
    outline: 0;
    font-size: 25px;
    border-radius: 10px;
}

.description__product {
    display: block;
}

.error {
    font-size: 18px;
    color: red;
}

.create__product__page input[type=file] {
    border: none;
}

.create__product__page button, .edit__profile__block button {
    display: block;
    background: #B2CED7;
    border: 1px solid #4F4F4F;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    margin-left: 0;
    margin-right: 0;
    width: 48%;
    height: 50px;
    font-size: 25px;
    color: #4F4F4F;
}

.clear__send__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-bottom: 1px solid #4F4F4F;
}

.my__product__block, .user__profile {
    border-left: 1px solid #4F4F4F;
    border-right: 1px solid #4F4F4F;
    padding: 10px;
}

.search__my__product {
    margin: 0;
}

.my__product__block .search__form {
    margin: 20px 0;
    border-bottom: 1px solid #4F4F4F;
    padding-bottom: 20px;
}

.my__product__block .search__form .search__input {
    width: 91%;
}

.my__products {
    display: flex;
    flex-wrap: wrap;
}

.my__product__card {
    justify-content: space-between;
    display: flex;
    width: 48%;
    border: 1px solid #4F4F4F;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 10px;
}

.my__product__card:hover {
    background: #B2CED7;
}

.my__product__card img {
    width: 230px;
    height: 250px;
    border: 1px solid #4F4F4F;
    border-radius: 10px;
}

.info__my__product {
    text-align: center;
    width: 70%;
}

.my__product__price, .my__product__age, .my__product__date, .my__product__quantity, .my__product__status {
    font-size: 20px;
}

.my__product__title {
    font-size: 25px;
    margin-bottom: 20px;
}

.info__my__product a {
    font-size: 45px;
    color: #4F4F4F;
}

.delete__edit__my__product {
    margin-top: 50px;
}

.edit__my__product {
    margin-right: 20px;
}

.user__profile__title {
    font-size: 40px;
    text-align: center;
}

.user__profile ul {
    list-style: none;
}

.user__profile ul li {
    margin-bottom: 10px;
}

.user__profile ul li img {
    width: 150px;
    height: 150px;
    border: 1px solid #4F4F4F;
    border-radius: 10px;

}


.show__dialog, .info {
    display: block;
    border-left: 1px solid #4F4F4F;
    border-right: 1px solid #4F4F4F;
    padding: 10px;
}

.dialog__title {
    display: flex;
    margin-top: 30px;
    font-size: 40px;
    border-bottom: 1px solid #4F4F4F;
    padding-bottom: 30px;
}

.dialog__img {
    width: 380px;
    height: 320px;
    margin-right: 20px;
}

.dialog__img img {
    border-radius: 20px;
    border: 1px solid #4F4F4F;
}

.dialog__title__info {
    width: 70%;
    height: 320px;
}

.dialog__info {
    padding: 20px 0;
    border: 1px solid #4F4F4F;
    border-radius: 20px;
    text-align: center;
    font-size: 40px;
    height: 280px;
}

.title {
    padding-top: 80px;
}

.block_message {
    display: flex;
    margin-top: 5px;
    font-size: 20px;
    padding-top: 10px;
}

.block_message_img img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #4F4F4F;
    border-radius: 20px;
}

.block_message_info {
    width: 90%;
    height: 100px;
    border: 1px solid #4F4F4F;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.block_message_info_top {
    height: 50px;
    border-bottom: 1px solid #4F4F4F;
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.block_message_info_top_author_left {
    width: 50%;
    text-align: left;
    padding-top: 25px;
}

.block_message_info_top_author_right {
    width: 50%;
    text-align: right;
    padding-top: 25px;
}

.block_message_info_top_date_right {
    width: 50%;
    text-align: right;
    padding-top: 25px;
}

.block_message_info_top_date_left {
    width: 50%;
    text-align: left;
    padding-top: 25px;
}

.block_message_info_bottom {
    height: 50px;
    width: 95%;
    margin: 0 auto;
    padding-top: 15px;
    box-sizing: border-box;
}

.dialog_added_photo img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.dialog_form {
    display: flex;
    margin-top: 30px;
    border-top: 1px solid #4F4F4F;
    padding-top: 30px;
    height: 150px;
}

.dialog_form_add_img {
    border-bottom: 1px solid #4F4F4F;
    padding-bottom: 15px;
}

.dialog_form_img img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #4F4F4F;
    border-radius: 20px;
}

.dialog_form_textarea {
    width: 90%;
}

.dialog_form_textarea textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #4F4F4F;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
}

.btn_send_block {
    margin-top: 10px;
}

.btn_send {
    color: #4F4F4F;
    background: #B2CED7;
    border: 1px solid #4F4F4F;
    border-radius: 20px;
    padding: 10px 30px;
    width: 181px;
    font-size: 21px;
}

.show__dialogs {
    display: block;
    border-left: 1px solid #4F4F4F;
    border-right: 1px solid #4F4F4F;
    padding: 10px;
}

.dialog_block {
    display: flex;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    padding-top: 10px;
    border: 1px solid #4F4F4F;
    border-radius: 20px;
    height: 100px;
}

.dialog_block_img img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.dialog_block_info {
    width: 80%;
    height: 100px;
    border-left: 1px solid #4F4F4F;
    border-right: 1px solid #4F4F4F;
}

.dialog_block_info_top {
    height: 30px;
    border-bottom: 1px solid #4F4F4F;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.dialog_block_info_bottom {
    height: 70px;
    width: 95%;
    margin: 0 auto;
}

.dialog_block_info_bottom_text {
    margin-top: 5px;
}

.dialog_block_goto {
    width: 10%;
    margin: 0 auto;
}

.dialog_block_goto img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 25px;
}

.info__my__product a {
    text-decoration: none;
}

.info__my__product span {
    display: block;
}

.status__form__hide {
    display: none;
}

.status__form__show {
    display: block;
}

.fa-edit {
    cursor: pointer;
}

.edit__profile {
    color: #4F4F4F;
}

.edit__profile__block {
    border-left: 1px solid #4F4F4F;
    border-right: 1px solid #4F4F4F;
    padding: 10px;
}

.edit__profile__block input {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid #4F4F4F;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: #4F4F4F;
}

.edit__profile__block input[type=file] {
    border: none;
}

.second__image {
    width: 200px;
    height: 100px;
    margin-left: 8px;
    margin-bottom: 15px;
}

.second__images {
    display: flex;
}

.text-danger {
    color: red;
}

.requared__text {
    margin-bottom: 15px;
    padding-top: 5px;
}
.filter__color__block {
    border-bottom: 1px solid #4F4F4F;
    padding-bottom: 10px;
}

.filter__color__block input {
    width: 200px;
    height: 30px;
    border: 1px solid #4F4F4F;
    border-radius: 10px;
    outline: 0;
    font-size: 20px;
    padding-left: 10px;
    color: #4F4F4F;
}

footer .container, header .container{
    border-left: 1px solid #4F4F4F;
    border-right: 1px solid #4F4F4F;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    text-align: center;
}

.info {
    font-size: 20px;
}

div.title {
    padding-top: 0;
    padding-bottom: 50px;
}

.info__head {
    font-size: 25px;
    font-weight: bold;
}

.blue__color {
    color: dodgerblue;
}

